[submodule "ripl"]
	path = ripl
	url = https://github.com/maxnowack/ripl.git
[submodule "dnsrecon"]
	path = dnsrecon
	url = https://github.com/darkoperator/dnsrecon.git
[submodule "wappalyzer"]
	path = wappalyzer
	url = https://github.com/ElbertF/Wappalyzer.git
